*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    background-size: 100%;
    background-color: #141414; 
    margin: 2rem;
}

/*Page title style*/
header {
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
header p {
    color: yellow;
}

/*Inputs and labels style*/
.labels-columns {
    text-align: left;
    width: auto;
    padding: 5px;
    vertical-align: top;
    margin-top: 0.7rem;
}
.labels-columns p {
    margin-bottom: 1rem ;
}
.inputs-columns {
    display: block;
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
#dropdown {
    width: 100%;
    background-color: #FFD0AA;
    border-radius: 4px;
}
#comments {
    width: inherit;
    background-color: #FFD0AA;
    border-radius: 4px;
    min-height: 100px;
}

/*Button*/
#submit {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 100%;
    margin: auto;
    border: 0px solid;
  }
#submit:hover {
    background-color: red;
}

  /***************/
 /*Tablet styles*/
/***************/

@media screen and (min-width: 768px) {
    header {
        margin-bottom:2rem;
        text-align: center;
    }
    header p {
        color: green;
    }
    .inputs-columns {
        display: inline-block;
        width: 60%;
    }
    .labels-columns {
        display: inline-block;
        width: 30%;
        padding: 5px;
        vertical-align: top;
        margin-top: 0.7rem;
        margin-bottom: 1rem ;
    }
    #comments {
        width: 100%;
        margin: 2rem 0;
    }
    .labels-columns p {
        margin-bottom: 1rem ;
    }

    #submit {
       display: block;
       width: 38%;
    }
}

  /****************/
 /*Desktop styles*/
/****************/

@media screen and (min-width: 1024px) {
  
    header p {
        color: red;
    }

    #container {
        display: block;
        width: 80%;
        margin: 0 10%;
    }

    #comments {
        width: 100%;
        margin: 2rem 0;
        min-height: 150px;
    }
}